.custHome{
   text-align: center;
   background-color: whitesmoke;
}

/* WW brand text */
.wwText{
   color: #f4511e;
   margin: 5px 0 0 0;
   font-weight: bold;
}

/* GoogleMaps CSS */
.g-infoWindow > Button{
   width: auto;
   height: auto;
}
.g-infoWindow > img{
   width: 15%;
   margin-bottom: 5px;
   margin-left: 3px;
}

